spring.application.name=registration

# MySQL DB ?? ??
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/registration?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
spring.datasource.username=root

# 본인 db 비번 쓰시면 됩니다.
spring.datasource.password=

# JPA / Hibernate ??
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Email Settings
spring.mail.host=smtp.gmail.com
spring.mail.port=587

# 여기다 본인 구글 계정 아이디 쓰시면 됩니다.
spring.mail.username=

# 구글은 보안 때문에 그냥 로그인 비밀번호로는 외부 접근을 막아둡니다.
# 구글 계정 관리 ➡ 보안 ➡ 2단계 인증 ➡ 맨 아래 '앱 비밀번호'로 들어가서 새 비밀번호를 하나 생성하세요.
# (이름은 대충 아무거나 하시면 됩니다.)
# 거기서 나오는 16자리 영어 소문자(띄어쓰기 없이)를 저기 password 칸에 넣으시면 됩니다.
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true